<!-- Copyright (c) 2016 Juniper Networks, Inc. All rights reserved. -->

<script type="text/x-handlebars-template" id="config-editor-href-container">
    <textarea id='hiddenTextArea' class="hideCopyContent"></textarea>
    <div class="config-editor-header">
        <div class="copy-config-object">
            <button class="button btn btn-mini json-editor-btn-copy"><i class="fa fa-files-o"></i></button>
            <span class="config-text">Copy</span>
        </div>
    </div>
    <div class="config-href-container"></div>
</script>
<script type="text/x-handlebars-template" id="config-editor-template">
       <textarea id='hiddenTextArea' class="hideCopyContent"></textarea>
       <div id="jsonContainer" class="row-fluid margin-0-0-5" style="width:100%;float:left;">
            <div class="config-editor-header">
                <div class="copy-config-object">
                    <button class="button btn btn-mini json-editor-btn-copy" title="Copy Raw JSON"><i class="fa fa-files-o"></i></button>
                    <span class="config-text">Copy</span>
                </div>
                <div class="create-config-object config-icon-position">
                    <button class="button btn btn-mini json-editor-btn-create" title="Create Config"><i class="fa fa-plus"></i></button>
                    <span class="config-text">Create</span>
                </div>
                <div  class="config-object-edit config-icon-position">
                    <button class="button btn btn-mini json-editor-btn-create" title="Raw JSON Edit"><i class="fa fa-pencil-square-o"></i></button>
                    <span class="config-text">Raw JSON Edit</span>
                </div>
                <div  class="config-jSon-form-edit config-icon-position">
                    <button class="button btn btn-mini json-editor-btn-create" title="Form Edit"><i class="fa fa-wpforms"></i></button>
                    <span class="config-text">Form Edit</span>
                </div>
                <div class="config-icon-position">
                    <button class="cancel-config-edit button btn btn-mini json-editor-btn-create" title="Cancel"><i class="fa fa-times"></i><span>Cancel</span></button>
                    <button class="object-basic-view button btn btn-mini json-editor-btn-create hide-header-icon"><i class="icon-list"></i></button>
                </div>
                <div class="config-icon-position">
                    <button class="save-config-object button btn btn-mini json-editor-btn-create hide-header-icon" title="Save JSON"><i class="fa fa-floppy-o"></i><span>Save</span></button>
                    <button class="update-config-object button btn btn-mini json-editor-btn-create hide-header-icon" title="Update JSON" >Update JSON</button>
                </div>
                <div class="reset-object config-icon-position">
                    <button class="button btn btn-mini json-editor-btn-create" title="Reset JSON"><i class="fa fa-undo"></i></button>
                    <span class="config-text">Reset</span>
                </div>
            </div>
            <div class='object-json-view scroll-container row-fluid'></div>  
            <div class='object-text-area-view scroll-container row-fluid hide-header-icon'>
                <textarea id='jsonTextArea' class="scroll-container config-scroll-color" spellcheck='false'></textarea> 
            </div>
        </div>
        <div id="editorContainer" class="row-fluid margin-0-0-5 hide-header-icon" style="width:50.35%;float:right;">
            <div class="config-editor-header">
                <div class="cancel-form-icon-postion">
                    <button class="cancel-config-form button btn btn-mini json-editor-btn-create" title="Cancel"><i class="fa fa-times"></i><span>Cancel</span></button>
                </div>
               <div class="config-icon-position">
                    <button class="save-form-object button btn btn-mini json-editor-btn-create" title="Save"><i class="fa fa-floppy-o"></i><span>Save</span></button>
               </div>
               <div class="config-icon-position">
                    <button class="reset-config-form button btn btn-mini json-editor-btn-create" title="Reset"><i class="fa fa-undo"></i><span class="config-text">Reset</span></button>
               </div>
           </div>
            <div id="jsonEditorContainer" class="scroll-container row-fluid margin-0-0-5"></div>
       </div>
</script>
