<!-- Copyright (c) 2016 Juniper Networks, Inc. All rights reserved. -->

<script type="text/x-handlebars-template" id="config-editor-href-container">
    <textarea id='hiddenTextArea' class="hide-header-icon"></textarea>
    <div class="config-editor-header">
        <div class="config-link-title">
           <span>Links</span>
        </div>
        <div class="refresh-container config-editor-headerIcon-align pull-right">
            <div class="config-edit-refresh refresh" data-action="refresh" title="Refresh"><i class="fa fa-repeat"></i></div>
        </div>
         <!-- <div class="search-config-object config-editor-headerIcon-align pull-right">
            <button class="button btn btn-mini json-editor-btn-copy" title="Search"><i class="fa fa-search"></i></button>
        </div>-->
         <div class="copy-config-object config-editor-headerIcon-align pull-right">
            <button class="button btn btn-mini json-editor-btn-copy" title="Copy"><i class="fa fa-files-o"></i></button>
        </div>
    </div>
    <div class="config-href-container"></div>
</script>
<script type="text/x-handlebars-template" id="config-editor-template">
       <textarea id='hiddenTextArea' class="hide-header-icon"></textarea>
       <div id="jsonContainer" class="row-fluid margin-0-0-5" style="width:100%;float:left;">
            <div class="config-editor-header">
                <div class="config-link-title">
                    <span id="object-header-title">Links</span>
                </div>
                <div class="refresh-container config-editor-headerIcon-align pull-right">
                  <div class="config-edit-refresh refresh" data-action="refresh" title="Refresh"><i class="fa fa-repeat"></i></div>
                </div>
                <!-- <div class="search-config-object config-editor-headerIcon-align pull-right">
                  <button class="button btn btn-mini json-editor-btn-copy" title="Search"><i class="fa fa-search"></i></button>
                </div>-->
                <div class="copy-config-object config-editor-headerIcon-align pull-right">
                  <button class="button btn btn-mini json-editor-btn-copy" title="Copy"><i class="fa fa-files-o"></i></button>
                </div>
                <div class="create-config-object config-editor-headerIcon-align pull-right"">
                    <button class="button btn btn-mini json-editor-btn-create" title="Create Config"><i class="fa fa-plus"></i></button>
                </div>
                <div class="delete-config-object config-editor-headerIcon-align pull-right hide-header-icon">
                    <button class="button btn btn-mini json-editor-btn-create" title="Delete Object"><i class="fa fa-trash-o"></i></button>
                </div>
                <div  class="config-jSon-form-edit config-editor-headerIcon-align pull-right">
                    <button class="button btn btn-mini json-editor-btn-create" title="Form Edit"><i class="fa fa-pencil-square-o"></i></button>
                </div>
            </div>
            <div class='object-json-view scroll-container row-fluid'></div>  
            <div class='object-text-area-view scroll-container row-fluid hide-header-icon'>
                <textarea id='jsonTextArea' class="scroll-container config-scroll-color" spellcheck='false'></textarea> 
            </div>
        </div> 
</script>
