<script type="text/x-handlebars-template" id="config-alarm-severity-template">
    <div data-color={{{color}}} class="circle mini {{{color}}} filled alarms-circle-grid-style alarms-circle-display-flex"></div>
    {{#if showText}}<div class="alarms-display-inline">&nbsp;{{{text}}}</div>{{/if}}
</script>
