<!-- Copyright (c) 2014 Juniper Networks, Inc. All rights reserved. -->

<script type="text/x-handlebars-template" id="query-select-popup-template">
    <form id="{{queryPrefix}}-select-popup-form" onsubmit="return false;">
        <div class="row-fluid" data-bind="visible: select_data_object().requestState() == cowc.DATA_REQUEST_STATE_FETCHING">
            <i class="icon-spinner icon-spin"></i> Fetching..
        </div>
        <div class="row-fluid" data-bind="visible: select_data_object().requestState() == cowc.DATA_REQUEST_STATE_SUCCESS_EMPTY">
            <p>Select Fields not found for this table. Please select a valid table name.</p>
        </div>
        <div class="row-fluid" data-bind="visible: select_data_object().requestState() == cowc.DATA_REQUEST_STATE_SUCCESS_NOT_EMPTY">
            <div class="row-fluid">
                <a class="pull-right selectAllLink " data-bind="text: (select_data_object().checked_fields().length == 0) ? 'Select All' : 'Clear All', click: select_data_object().on_select_all"></a>
            </div>
            <div class="row-fluid row-fluid-3n" data-bind="foreach: select_data_object().select_fields()">
                <div class="span4">
                    <div class="row-fluid">
                        <div class="span1">
                            <input type="checkbox"
                                   data-bind="
                            name: name, value: name, checked: $root.select_data_object().checked_fields,
                            click: function(data, event) { return $root.select_data_object().on_select($root, data, event); },
                            enable: $root.select_data_object().enable_map()[name]()"
                                   class="ace-input"
                            />
                            <span class="ace-lbl"></span>
                        </div>
                        <div class="span11">
                            <div class="select-label" data-bind="text: name, attr: { title: name }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/x-handlebars-template" id="session-analyzer-view-template">
    <div id="qe-{{queryPrefix}}-container" class="row-fluid">
        {{#if text}}
        <div id='qe-{{queryPrefix}}-text-container' class="row-fluid">
            <div id='qe-{{queryPrefix}}-text{{saQueryIdSuffix}}' class="row-fluid"></div>
        </div>
        {{/if}}
        <div id='qe-{{queryPrefix}}-chart-container' class="row-fluid">
            <div id='qe-{{queryPrefix}}-result-chart{{saQueryIdSuffix}}' class="row-fluid"></div>
        </div>
        <div id="qe-{{queryPrefix}}-tab-container" class="margin-10-0-0 row-fluid">
            <div id='qe-{{queryPrefix}}-result-tab{{saQueryIdSuffix}}' class="row-fluid"></div>
        </div>
    </div>
</script>
