<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->

<script type="text/x-handlebars-template" id="core-networking-graph-template">
	<div class="row-fluid visualization-container">
		<div class="graph-canvas" style="height: 300px; overflow: hidden;">
            <div id="networking-graph" class="graph row-fluid colmask holygrail">
			    <div class="colmid">
			        <div class="colleft">
			            <div class="col1wrap">
			                <div class="col1">
								<div id="graph-connected-elements" class="graph-connected-elements row-fluid">
                                    <div id="graph-loading" class="graph-loading loading-spinner"><i class="icon-refresh icon-spin"></i></div>
                                    <div id="graph-connected-elements-empty" class="visualization-empty hide">
                                        <p class="">No Virtual Network Found.</p>
                                    </div>
								</div>
							</div>
			            </div>
			            <div class="col2">
							<div id="graph-config-elements" class="graph-config-elements row-fluid"></div>
			            </div>
			            <div id="graph-control-panel" class="col3">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="graph-control-panel-template">
    <div id="graph-controls" class="graph-controls pull-right">
        {{#IfCompare defaultConfig.panzoom.enable true}}
            <div class="graph-control-item zoom-in" title="Zoom In"><i class="icon-zoom-in"></i></div>
            <div class="graph-control-item zoom-out" title="Zoom Out"><i class="icon-zoom-out"></i></div>
            <div class="graph-control-item zoom-reset" title="Zoom Reset"><i class="icon-remove-circle"></i></div>
        {{/IfCompare}}
        {{#each customConfig}}
            <div class="graph-control-item {{@key}}" title="{{title}}"><i class="{{iconClass}}"></i></div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-tabs-template">
    <div id="contrail-tabs" class="row-fluid contrail-widget-tabs graph-tabs">
        <ul>
            {{#each this}}
                <li><a id="{{this.elementId}}-tab-link" class="contrail-tab-link" href="#{{this.elementId}}-tab">{{this.title}}</a></li>
            {{/each}}
        </ul>
        {{#each this}}
            <div id="{{this.elementId}}-tab">
                <div id="{{this.elementId}}" class="contrail-tab-content {{this.viewConfig.class}}"></div>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-chart-template">
    <div class="row-fluid">
        {{#each this.elementConfg}}
            <div id="charts-box" class="{{#getValue "{\"1\":\"span12\",\"2\":\"span6\",\"3\":\"span4\"}" ../colCount}}{{/getValue}} widget-box transparent">
                <div class="widget-header">
                    <h4 class="smaller">
                        <i id="charts-loading" class="icon-spinner icon-spin blue bigger-125"></i> {{title}}
                    </h4>
                    <div class="widget-toolbar pull-right">
                        <a data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main" style="height:300px;">
                        {{#IfCompare @index 1 operator='%2'}}
                            <div class="stack-chart negate" id="{{../../id}}_{{@index}}"></div>
                        {{else}}
                            <div class="stack-chart" id="{{../../id}}_{{@index}}"></div>
                        {{/IfCompare}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="network-port-heat-chart-template">
    <div>
        <h4 class="smaller">Source TCP Port Map </h4>
        <div id='src-tcp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Destination TCP Port Map </h4>
        <div id='dst-tcp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Source UDP Port Map </h4>
        <div id='src-udp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Destination UDP Port Map </h4>
        <div id='dst-udp-heat-chart' class='portMapChart'></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="traffic-stats-tab-template">
    <div class="row-fluid center">
        <div id="{{dropdownId}}" class="traffic-stats-dropdown select2-medium-width"></div>
    </div>
    <div id="{{chartId}}" class="traffic-stats-chart row-fluid"></div>
</script>