<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->

<script type="text/x-handlebars-template" id="core-networking-graph-template">
	<div class="visualization-container">
		<div class="graph-canvas" style="height: 300px; overflow: hidden;">
            <div id="networking-graph" class="graph colmask holygrail">
			    <div class="colmid">
			        <div class="colleft">
			            <div class="col1wrap">
			                <div class="col1">
								<div id="graph-connected-elements" class="graph-connected-elements row">
								</div>
							</div>
			            </div>
			            <div class="col2">
							<div id="graph-config-elements" class="graph-config-elements"></div>
			            </div>
			            <div id="graph-control-panel" class="col3"></div>
					</div>
				</div>
                <div class="graph-search-control-panel-expanded-container control-panel-expanded-container hidden"></div>
                <div id="graph-loading" class="graph-loading">
                     <p class="loading-message">Loading..<p>
                </div>

			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="graph-control-panel-search-template">
    <div>
        <input class="graph-control-panel-search-dropdown" type="text"/>
    </div>
</script>

