<script type="text/x-handlebars-template" id="inf-all-delete-template">
    <div class="alert alert-error"
        data-bind="visible: errors().{{elementId}}_error">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong>Error: </strong>
        <span data-bind="text: errors().{{elementId}}_error"></span>
    </div>
    <div>Are you sure you want to delete all Interface(s) for Physical Router
        <b>{{pRouterName}}</b>?</div>
</script>