
/******Config Node chart and Analytics node chart CSS starts here****/

.mon-infra-chart g.nv-barsWrap g.nv-group {
    fill-opacity: 1 !important;
}
#analytics-nodes-chart .contrail-legend text,
#database-nodes-chart .contrail-legend text,
#config-nodes-chart .contrail-legend text{
    font: normal 11px Open Sans;
    opacity: 1;
}
#analytics-nodes-chart .contrail-chart-title text,
#config-nodes-chart .contrail-chart-title text  {
    font-size: 11px;
}
#config-nodes-chart,
#analytics-nodes-chart,
#database-nodes-chart{
    margin-top:15px !important;
}
#config-nodes-chart .chart-container g.main text.axis-label,
#config-nodes-donutchart-section g.contrail-chart-title text,
#config-nodes-linebarchart .nv-axislabel{
    text-anchor:middle !important;
    font-weight:600 !important;
    font-size:11px !important;
}
#config-nodes-stackedchart{
    width:53% !important;
}
#config-nodes-linebarchart{
    width:43% !important;
}
#analytics-chart-sandesh-stackedbarchart-id .chart-container g.main text.axis-label,
#analytics-chart-queries-stackedbarchart-id .chart-container g.main text.axis-label,
#analytics-chart-database-read-stackedbarchart-id .chart-container g.main text.axis-label,
#analytics-chart-database-write-stackedbarchart-id .chart-container g.main text.axis-label,
#database-nodes-disk-sapce-scatter-chart .chart-container g.main text.axis-label,
#database-nodes-cpu-line-chart text.nv-axislabel,
#database-nodes-mem-line-chart text.nv-axislabel{
    text-anchor:middle;
    font-weight:600;
    font-size:11px !important;
}
#config-nodes-donutchart-section{
    margin-top:40px;
}
#analytics-nodes-chart .chartMargin{
    margin:0 10px 0 10px !important;
}
#database-nodes-chart .chartMargin{
    margin:0 10px -15px 10px !important;
}
#config-nodes-donutchart-one .nvd3-svg{
    margin-left:20%;
}
/******Config Node chart and Analytics node chart Ends here****/

/******VRouter Radio Button Css Starts Here****/
#vrouter_routes_radio .form-element .ace-lbl {
  margin-right: 15px;
}
/******VRouter Radio Button Css Ends Here****/
/******Percentile CSS starts here****/
.percentile{
    background:#f6f6f6;
    padding:8px 0px;
    color:#787878;
    font-family: "Open Sans";
    font-size:11px;
    margin-left:62px;
    margin-right:10px;
    padding:10px;
    }
.percentile:after{clear:both;}
.percentile label.generator{
    font-weight:600;
    vertical-align:text-top;
    color:#787878 !important;
    padding-right:0px !important;
    margin:0px;
}
.percentile>label.generator i{
    font-size:15px;
    padding-right:5px;
}
.percentile .value{
    text-align:right; padding:0px 5px;
    }
.percentile .value>span{
    background:#599ac9;
    color:white;
    padding:1px 10px;
    margin-left:5px;
    font-size:13px;}
/******Percentile CSS ends here****/
