.confignode-chart .widget-box .widget-header > :first-child {
    line-height: 23px;
}
.confignode-chart .widget-box .widget-main {
    padding: 0px;
}
.confignode-chart g.nv-barsWrap g.nv-group {
    fill-opacity: 1 !important;
}
.confignode-chart .contrail-legend text {
    font: normal 11px Open Sans;
    opacity: 1;
}
.confignode-chart .widget-box {
    margin: 0px;
}
.confignode-chart .contrail-chart-title text {
    font-size: 11px;
}
.confignode-chart .widget-box .widget-header {
    border-bottom: none;
    font-size: 14px;
    height: 23px;
    cursor: auto;
    padding: 3px 0px;
}
/******Config Node chart CSS starts here****/
#config-nodes-chart{
    margin-top:15px !important;
}
#config-nodes-chart .chart-container g.main text.axis-label, #config-nodes-donutchart-section g.contrail-chart-title text, #config-nodes-linebarchart .nv-axislabel{
    text-anchor:middle !important;
    font-weight:600 !important;
    font-size:11px !important;
}
#config-nodes-stackedchart{
    width:53% !important;
}
#config-nodes-linebarchart{
    width:43% !important;
}
/******Config Node chart CSS Ends here****/