<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->

<script type="text/x-handlebars-template" id="traffic-stats-tab-template">
    <div class="row-fluid center">
        <div id="{{dropdownId}}" class="traffic-stats-dropdown select2-medium-width"></div>
    </div>
    <div id="{{chartId}}" class="traffic-stats-chart row-fluid"></div>
</script>

<script type="text/x-handlebars-template" id="network-port-heat-chart-template">
    <div>
        <h4 class="smaller">Source TCP Port Map </h4>
        <div id='src-tcp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Destination TCP Port Map </h4>
        <div id='dst-tcp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Source UDP Port Map </h4>
        <div id='src-udp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Destination UDP Port Map </h4>
        <div id='dst-udp-heat-chart' class='portMapChart'></div>
    </div>
</script>


<script type="text/x-handlebars-template" id="underlay-graph-template">
    <div class="row-fluid visualization-container" style="position: relative;">
        <div id="graph-loading" class="graph-loading">
                <p class="loading-message">Loading..<p>
        </div>
        <div id="underlay-graph" style="height:350px; display: block; width:1190px;">
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="form-result-page-template">
    <div id="{{prefix}}-container">
        <div id='{{prefix}}-form-container'>
            <div id='{{prefix}}-form'></div>
        </div>
        <div id="{{prefix}}-results-container">
            <div id='{{prefix}}-results'></div>
        </div>
    </div>
</script>
