<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->

<script type="text/x-handlebars-template" id="traffic-stats-tab-template">
    <div class="row center">
        <div class="col-xs-4 col-xs-offset-4">
            <div id="{{dropdownId}}" class="traffic-stats-dropdown"></div>
        </div>
    </div>
    <div id="{{chartId}}" class="traffic-stats-chart row"></div>
</script>

<script type="text/x-handlebars-template" id="network-port-heat-chart-template">
    <div>
        <h4 class="smaller">Source TCP Port Map </h4>
        <div id='src-tcp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Destination TCP Port Map </h4>
        <div id='dst-tcp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Source UDP Port Map </h4>
        <div id='src-udp-heat-chart' class='portMapChart'></div>
        <h4 class="smaller"> Destination UDP Port Map </h4>
        <div id='dst-udp-heat-chart' class='portMapChart'></div>
    </div>
</script>


<script type="text/x-handlebars-template" id="underlay-graph-template">
    <div class="visualization-container" style="position: relative;">
        <div id="graph-loading" class="graph-loading">
                <p class="loading-message">Loading..<p>
        </div>
        <div id="underlay-graph" style="height:350px; display: block; width:100%;">
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="flow-info-template">
    <div id = "flow-info">
        <span class="">{{action}} </span>
            from
        <span class="">[<span class="bold">{{sourceip}}</span>]:<span class="bold">{{sport}}</span></span>
            to
        <span class="">[<span class="bold">{{destip}}</span>]:<span class="bold">{{dport}}</span></span>
        <span class="reset">reset</span>
    </div>
</script>

<script type="text/x-handlebars-template" id="form-result-page-template">
    <div id="{{prefix}}-container">
        <div id='{{prefix}}-form-container'>
            <div id='{{prefix}}-form'></div>
        </div>
        <div id="{{prefix}}-results-container">
            <div id='{{prefix}}-results'></div>
        </div>
    </div>
</script>
