<!--
 Copyright (c) 2015 Juniper Networks, Inc. All rights reserved.
-->

<script type="text/x-handlebars-template" id="login-window-template">
<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
          <h6 class="modal-header-title">Login</h6>
        </div>
        <div class="modal-body">
          <div class="login-container">
            <div class="content">
                <form class="login-fields">
                    <p>Please enter SSH login credentials :</p>
                      <div id="divLoginError" class="text-error"></div>
                      <div class="row">
                          <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" id="txtLoginUserName" placeholder="User Name" class="login" />
                           </div>
                      </div>
                      <div class="row">
                          <div class="input-group col-xs-12">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                 <input type="password" id="txtLoginPassword" placeholder="Password" class="login" />
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnLoginWindowCancel" class="btn btn-primary btn-mini" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button id="btnLoginWindowLogin" class="btn btn-primary btn-mini" data-dismiss="modal" aria-hidden="true">Login</button>
        </div>
</div>
</script>

<script type="text/x-handlebars-template" id="monitor-infra-details-footer-links-template">
    <div class="footer-links">
    </div>
</script>

<script type="text/x-handlebars-template" id="monitor-infra-topology-reset-template">
    <div>Double click on a node clears the map/trace flow.
        <br>
        Do you want to continue?
        <br>
        <br>
        <div>
          <input class="ace-input" type="checkbox" id="remember-reset-topology">
          <span class="ace-lbl"> Dont show this message again</span>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="percentile-text-view-template">
  <div class="percentile row">
    <label class="generator"><i class="fa fa-pie-chart"></i>{{{this.percentileTitle}}}</label>
    <div class="pull-right">
        <div class="value pull-left" >{{{this.percentileXvalue}}}<span>{{{this.percentileXobjVal}}}</span>&nbsp;&nbsp;&nbsp;|</div>
        <div class="value pull-left">{{{this.percentileYvalue}}}<span>{{{this.percentileYobjVal}}}</span></div>
    </div>
    </div>
  </div>
</script>
<script type="text/x-handlebars-template" id="percentile-bar-view-template">
  <div class="percentile row">
    <label class="generator"><i class="fa fa-database"></i> Disk Utilization</label>
    <div class="pull-right">
    {{#each this}}
      <div class="value pull-left" >
        <div class="value pull-left">{{{this.name}}}</div>
      {{#IfCompare this.formattedUsedValue this.highThresholdLimit operator='>'}}
      <dl class="progress-percentage red">
        <dt class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{{this.formattedUsedPercentage}}};"> </div>
        </dt>
        <dd>{{{this.formattedUsedPercentage}}}</dd>
      </dl>
      {{else}}
       <dl class="progress-percentage green">
        <dt class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{{this.formattedUsedPercentage}}};"> </div>
        </dt>
        <dd>{{{this.formattedUsedPercentage}}}</dd>
      </dl>
       {{/IfCompare}}
      </div>
      {{/each}}
  </div>
</div>
</script>
