<!-- Copyright (c) 2018 Juniper Networks, Inc. All rights reserved. -->

<script type="text/x-handlebars-template" id="firewall-draft-options-template">
    <div class="btn-group" id="Apppolicy_toggle">
        <div class="btn btn-default btn-sm option selected">
            Committed
        </div>
        <input type="radio" name="view_type" value="committed">
        <div class="btn btn-default btn-sm option">
            Drafted
        </div>
        <input type="radio" name="view_type" value="drafted">
    </div>
    <div class="btn-group" id="Apppolicy_review">
    		<div class="btn btn-default btn-sm option">
            Review
        </div>
     </div>
</script>