<!--
 Copyright (c) 2016 Juniper Networks, Inc. All rights reserved.
-->
<!--<script type="text/x-handlebars-template" id="purge-action-template">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-adjust"></i>
    </a>
    <ul class="pull-right dropdown-menu dropdown-caret">
        <li>
            <label class="margin-0-0-0-5">
             Purge Analytics DB By:
            </label>
        </li>
        <li>
            <a onclick="monitorInfraUtils.purgeAnalyticsDB(15);">
                15%
            </a>
        </li>
        <li>
            <a onclick="monitorInfraUtils.purgeAnalyticsDB(30);">
                30%
            </a>
        </li>
        <li>
            <a onclick="monitorInfraUtils.purgeAnalyticsDB(50);">
                50%
            </a>
        </li>
        <li>
            <a onclick="monitorInfraUtils.purgeAnalyticsDB(70);">
                70%
            </a>
        </li>
        <li>
            <a onclick="monitorInfraUtils.purgeAnalyticsDB(90);">
                90%
            </a>
        </li>
    </ul>
</script>-->