<!-- Copyright (c) 2015 Juniper Networks, Inc. All rights reserved. -->

<script type="text/x-handlebars-template" id="controller-bgp-peer-conf-form-template">
    <div>
        <button type="button" class="close" data-dismiss="alert"></button>
    </div>
    <div>No peer is selected </div>
</script>