<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->
<!--
Access tag details
If the access tag is not there then every one can access the menu/menu items
If access tag is there then only the roles and orchestration models mentioned in the tags are allowed
If any role/orchModel tag is with negation(!) value then every one has access to menu/menu item except the one mentioned with negation
and need to add the iconClass tag wherever we need to show some icons
 -->
<menu>
  <items>
    <item>
      <label>Monitor</label>
      <name>monitor</name>
      <resources>
           <resource>
             <rootDir>/common/ui</rootDir>
             <js>controller-utils.js</js>
           </resource>
      </resources>
      <iconClass>icon-bar-chart</iconClass>
      <items>
        <item>
          <label>Infrastructure</label>
          <resources>
            <resource>
              <rootDir>/monitor/infra/common/ui</rootDir>
              <js>monitor_infra_constants.js</js>
              <js>monitor_infra_utils.js</js>
              <view>monitor_infra_common.view</view>
            </resource>
          </resources>
          <iconClass>icon-desktop</iconClass>
          <access>
            <roles>
              <role>superAdmin</role>
            </roles>
            <orchModels>
              <model>openstack</model>
              <model>cloudstack</model>
              <model>vcenter</model>
            </orchModels>
            <accessFn>hideInFederatedvCenter</accessFn>
          </access>
          <items>
            <item>
              <hash>mon_infra_dashboard</hash>
              <label>Dashboard</label>
              <resources>
                <resource>
                  <rootDir>/monitor/infra/dashboard/ui</rootDir>
                  <view>monitor_infra_dashboard.view</view>
                  <js>monitor_infra_dashboard.js</js>
                  <class>infraMonitorDashboardView</class>
                </resource>
              </resources>
              <queryParams>
                <tab>vRouters</tab>
              </queryParams>
              <searchStrings>Infrastructure Dashboard</searchStrings>
            </item>
            <item>
              <hash>mon_infra_underlay</hash>
              <label>Physical Topology</label>
              <resources>
                <resource>
                  <rootDir>/monitor/infra/underlay/ui</rootDir>
                  <view>monitor_infra_underlay.view</view>
                  <view>flow_queries.view</view>
                  <view>queries.view</view>
                  <js>monitor_infra_underlay.js</js>
                  <js>flow_queries.js</js>
                  <class>underlayRenderer</class>
                </resource>
                <resource>
                  <rootDir>/monitor/infra/vrouter/ui</rootDir>
                  <js>monitor_infra_vrouter.js</js>
                  <js>monitor_infra_vrouter_flows.js</js>
                </resource>
                <resource>
                  <rootDir>/monitor/tenant-network/common/ui</rootDir>
                  <js>tenant_monitor_utils.js</js>
                </resource>
              </resources>
            </item>
            <item>
              <hash>mon_infra_control</hash>
              <label>Control Nodes</label>
              <resources>
                <resource>
                  <rootDir>/monitor/infra/controlnode/ui</rootDir>
                  <view>monitor_infra_controlnode.view</view>
                  <js>monitor_infra_controlnode.js</js>
                  <js>monitor_infra_controlnode_summary.js</js>
                  <js>monitor_infra_controlnode_details.js</js>
                  <js>monitor_infra_controlnode_peers.js</js>
                  <js>monitor_infra_controlnode_routes.js</js>
                  <class>ctrlNodesView</class>
                </resource>
              </resources>
              <searchStrings>Monitor Control Nodes</searchStrings>
            </item>
            <item>
              <hash>mon_infra_vrouter</hash>
              <label>Virtual Routers</label>
              <resources>
                <resource>
                  <rootDir>/monitor/infra/vrouter/ui</rootDir>
                  <view>monitor_infra_vrouter.view</view>
                  <js>monitor_infra_vrouter.js</js>
                  <js>monitor_infra_vrouter_summary.js</js>
                  <js>monitor_infra_vrouter_details.js</js>
                  <js>monitor_infra_vrouter_interfaces.js</js>
                  <js>monitor_infra_vrouter_networks.js</js>
                  <js>monitor_infra_vrouter_acl.js</js>
                  <js>monitor_infra_vrouter_flows.js</js>
                  <js>monitor_infra_vrouter_routes.js</js>
                  <class>cmpNodesView</class>
                </resource>
              </resources>
              <searchStrings>Monitor Compute Nodes</searchStrings>
            </item>
            <item>
              <hash>mon_infra_analytics</hash>
              <label>Analytics Nodes</label>
              <resources>
                <resource>
                  <rootDir>/monitor/infra/analyticsnode/ui</rootDir>
                  <view>monitor_infra_analyticnode.view</view>
                  <js>monitor_infra_analyticnode.js</js>
                  <js>monitor_infra_analyticsnode_summary.js</js>
                  <js>monitor_infra_analyticsnode_details.js</js>
                  <js>monitor_infra_analyticsnode_generators.js</js>
                  <js>monitor_infra_analyticsnode_qequeries.js</js>
                  <class>aNodesView</class>
                </resource>
              </resources>
              <searchStrings>Monitor Analytics Nodes</searchStrings>
            </item>
            <item>
              <hash>mon_infra_config</hash>
              <label>Config Nodes</label>
              <resources>
                <resource>
                  <rootDir>/monitor/infra/confignode/ui</rootDir>
                  <view>monitor_infra_confignode.view</view>
                  <js>monitor_infra_confignode.js</js>
                  <js>monitor_infra_confignode_summary.js</js>
                  <js>monitor_infra_confignode_details.js</js>
                  <class>confNodesView</class>
                </resource>
              </resources>
              <searchStrings>Monitor Config Nodes</searchStrings>
            </item>
            <!--
                        <item>
                            <label>Software Upgrade</label>
                        </item>
                        -->
          </items>
        </item>
        <item>
          <name>networking</name>
          <label>Networking</label>
          <resources>
            <resource>
                <rootDir>/monitor/tenant-network/common/ui</rootDir>
                <js>tenant_monitor_topology.js</js>
                <js>tenant_monitor_utils.js</js>
                <view>tenant_monitor_common.view</view>
            </resource>
        </resources>
          <iconClass>icon-sitemap</iconClass>
          <items>
            <item>
              <label>Projects</label>
              <hash>mon_net_projects</hash>
              <resources>
                <resource>
                  <rootDir>/monitor/tenant-network/project/ui</rootDir>
                  <js>tenant_monitor_project.js</js>
                  <view>tenant_monitor_project.view</view>
                  <class>tenantNetworkMonitorView</class>
                </resource>
              </resources>
              <queryParams>
                <view>list</view>
                <type>project</type>
                <source>uve</source>
              </queryParams>
              <searchStrings>Monitor Projects</searchStrings>
            </item>
            <item>
              <label>Networks</label>
              <hash>mon_net_networks</hash>
              <resources>
                <resource>
                  <rootDir>/monitor/tenant-network/network/ui</rootDir>
                  <view>tenant_monitor_network.view</view>
                  <js>tenant_monitor_network.js</js>
                  <class>tenantNetworkMonitorView</class>
                </resource>
              </resources>
              <queryParams>
                <view>list</view>
                <type>network</type>
                <source>uve</source>
              </queryParams>
              <searchStrings>Monitor Networks</searchStrings>
            </item>
            <item>
              <label>Instances</label>
              <hash>mon_net_instances</hash>
              <resources>
                <resource>
                  <rootDir>/monitor/tenant-network/instance/ui</rootDir>
                  <view>tenant_monitor_instance.view</view>
                  <js>tenant_monitor_instance.js</js>
                  <class>tenantNetworkMonitorView</class>
                </resource>
              </resources>
              <queryParams>
                <view>list</view>
                <type>instance</type>
                <source>uve</source>
              </queryParams>
              <searchStrings>Monitor instances</searchStrings>
            </item>
            <item>
              <label>Traffic Statistics</label>
              <hash>mon_net_dashboard</hash>
              <resources>
                  <resource>
                      <rootDir>/monitor/tenant-network/dashboard/ui</rootDir>
                      <view>tenant_monitor_dashboard.view</view>
                      <js>tenant_monitor_dashboard.js</js>
                      <class>tenantNetworkMonitorView</class>
                  </resource>
              </resources>
              <queryParams>
                  <fqName>default-domain</fqName>
              </queryParams>
              <searchStrings>Networking Dashboard</searchStrings>
            </item>
          </items>
        </item>
        <item>
          <name>debug</name>
          <label>Debug</label>
          <iconClass>icon-puzzle-piece</iconClass>
            <access>
                <orchModels>
                    <model>openstack</model>
                    <model>cloudstack</model>
                </orchModels>
            </access>
          <items>
            <item>
              <label>Packet Capture</label>
              <hash>mon_debug_pcapture</hash>
              <resources>
                <resource>
                  <rootDir>/monitor/debug/packet_capture</rootDir>
                  <js>packet_capture.js</js>
                  <view>packet_capture.view</view>
                  <class>PacketCaptureObj</class>
                </resource>
              </resources>
              <searchStrings>Packet Capture, Analyzer</searchStrings>
            </item>
            <!--
                        <item>
                            <label>Ping</label>
                            <hash>mon_ping</hash>
                            <resources>
                                <resource>
                            <rootDir>/monitor/ping</rootDir>
                            <view>mon_ping.view</view>
                            <js>mon_ping.js</js>
                            <class>monitorPingView</class>
                                </resource>
                            </resources>
                        </item>
                       <item>
                           <label>Trace Route</label>
                       </item>
                       <item>
                           <label>DHCP</label>
                       </item>
                       <item>
                           <label>DNS</label>
                       </item>
                        -->
          </items>
        </item>
      </items>
    </item>
    <item>
      <name>configure</name>
      <label>Configure</label>
      <iconClass>icon-wrench</iconClass>
      <items>
        <item>
          <label>Infrastructure</label>
          <access>
            <roles>
              <role>superAdmin</role>
            </roles>
            <orchModels>
              <model>openstack</model>
              <model>cloudstack</model>
              <model>vcenter</model>
            </orchModels>
            <accessFn>hideInFederatedvCenter</accessFn>
          </access>
          <iconClass>icon-desktop</iconClass>
          <items>
            <!--
                        <item>
                            <label>Server Setup</label>
                        </item>
                        -->
            <item>
              <label>BGP Peers</label>
              <hash>config_infra_bgp</hash>
              <resources>
                <resource>
                  <rootDir>/config/bgp/ui</rootDir>
                  <view>bgp_config.view</view>
                  <js>bgp_config.js</js>
                  <class>bgpConfigObj</class>
                </resource>
              </resources>
              <searchStrings>Configure BGP Peers</searchStrings>
            </item>
            <item>
              <label>Forwarding Options</label>
              <hash>config_infra_fwdoptions</hash>
              <resources>
                <resource>
                  <rootDir>/config/forwardingoptions/ui</rootDir>
                  <view>fwd_options_config.view</view>
                  <js>fwd_options_config.js</js>
                  <class>fwdOptionsConfigObj</class>
                </resource>
              </resources>
              <searchStrings>Configure Fowarding Options</searchStrings>
            </item>
            <item>
              <label>Link Local Services</label>
              <hash>config_infra_lls</hash>
              <resources>
                <resource>
                  <rootDir>/config/linklocalservices/ui</rootDir>
                  <view>lls_config.view</view>
                  <js>lls_config.js</js>
                  <class>llsConfigObj</class>
                </resource>
              </resources>
              <searchStrings>Configure Link Local Services</searchStrings>
            </item>
                        <item>
                            <label>Virtual Routers</label>
                            <hash>config_pd_virtualRouters</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/physicaldevices/virtualrouters/ui</rootDir>
                                    <js>virtualrouters_config.js</js>
                                    <view>virtualrouters_config.view</view>
                                    <class>virtualRoutersConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Virtual Routers</searchStrings>
                        </item>              
            <!--
                        <item>
                            <label>Services</label>
                        </item>
                        -->
                        <item>
                            <label>Project Quotas</label>
                            <hash>config_net_quotas</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/quotas/ui</rootDir>
                                    <js>quotas_config.js</js>
                                    <view>quotas_config.view</view>
                                    <class>quotasConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Project Quotas</searchStrings>
                        </item>
                    </items>
                </item>
                <item>
                    <label>Physical Devices</label>
                    <hash>config_pd</hash>
                    <access>
                        <roles>
                            <role>member</role>
                        </roles>
                        <orchModels>
                            <model>openstack</model>
                        </orchModels>
                    </access>
                    <iconClass>icon-globe</iconClass>
                    <items>
                        <item>
                            <label>Physical Routers</label>
                            <hash>config_pd_physicalRouters</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/physicaldevices/physicalrouters/ui</rootDir>
                                    <js>physicalrouters_config.js</js>
                                    <view>physicalrouters_config.view</view>
                                    <class>physicalRoutersConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Physical Routers</searchStrings>
                        </item>
                        <item>
                            <label>Interfaces</label>
                            <hash>config_pd_interfaces</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/physicaldevices/physicalinterfaces/ui</rootDir>
                                    <js>physicalinterfaces_config.js</js>
                                    <view>physicalinterfaces_config.view</view>
                                    <class>physicalInterfacesConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Interfaces</searchStrings>
                        </item>   
                    </items>
                </item>                  
                <item>
                    <label>Networking</label>
                    <access>
                       <roles>
                           <role>member</role>
                       </roles>
                       <orchModels>
                           <model>openstack</model>
                           <model>vcenter</model>
                       </orchModels>
                    </access>
                    <iconClass>icon-sitemap</iconClass>
                    <items>
                        <item>
                            <label>Networks</label>
                            <hash>config_net_vn</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/vn/ui</rootDir>
                                    <js>vn_config.js</js>
                                    <view>vn_config.view</view>
                                    <class>virtualnetworkConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Networks</searchStrings>
                        </item>
                        <item>
                            <label>Ports</label>
                            <hash>config_net_ports</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/ports/ui</rootDir>
                                    <js>ports_config.js</js>
                                    <view>ports_config.view</view>
                                    <class>portsConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Ports</searchStrings>
                        </item>
                        <item>
                            <label>Policies</label>
                            <hash>config_net_policies</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/networkpolicies/ui</rootDir>
                                    <js>policy_config.js</js>
                                    <view>policy_config.view</view>
                                    <class>networkpolicyConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Network Policies</searchStrings>
                        </item>
                        <item>
                            <label>Security Groups</label>
                            <hash>config_net_sg</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/securitygroup/ui</rootDir>
                                    <js>sg_config.js</js>
                                    <view>sg_config.view</view>
                                    <class>sgConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Security Groups</searchStrings>
                        </item>
                    <item>
                            <label>Routers</label>
                            <hash>config_net_routers</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/logicalrouters/ui</rootDir>
                                    <js>router_config.js</js>
                                    <view>router_config.view</view>
                                    <class>routerConfigObj</class>
                                </resource>
                            </resources>
                            <access>
                                <orchModels>
                                <model>openstack</model>
                                <model>cloudstack</model>
                                </orchModels>
                            </access>
                            <searchStrings>Routers</searchStrings>
                        </item> 
                        <item>
                            <label>IP Address Management</label>
                            <hash>config_net_ipam</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/ipaddressmanagement/ui</rootDir>
                                    <js>ipam_config.js</js>
                                    <view>ipam_config.view</view>
                                    <class>IPAddressManagementObj</class>
                                </resource>
                            </resources>
                            <searchStrings>IP Address Management, IPAM</searchStrings>
                        </item>
                        <item>
                            <label>Manage Floating IPs</label>
                            <hash>config_net_fip</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/fip/ui</rootDir>
                                    <js>fip_config.js</js>
                                    <view>fip_config.view</view>
                                    <class>FloatingIPConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Manage Floating IPs</searchStrings>
                        </item>
                   </items>
                </item>
                <item>
                    <label>Services</label>
                    <access>
                       <roles>
                           <role>member</role>
                       </roles>
                       <orchModels>
                           <model>openstack</model>
                       </orchModels>
                    </access>
                    <iconClass>icon-link</iconClass>
                    <items>
                        <item>
                            <label>Service Templates</label>
                            <hash>config_sc_svctemplate</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/services/template/ui</rootDir>
                                    <js>svctemplate_config.js</js>
                                    <view>svctemplate_config.view</view>
                                    <class>ServiceTemplatesObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Service Templates</searchStrings>
                        </item>
                        <item>
                            <label>Service Instances</label>
                            <hash>config_sc_svcInstances</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/services/instances/ui</rootDir>
                                    <js>svcinstances_config.js</js>
                                    <view>svcinstances_config.view</view>
                                    <class>ServicesInstancesObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure Service Instances</searchStrings>
                        </item>
                    </items>
                </item>
                <item>
                    <label>DNS</label>
                    <access>
                        <roles>
                            <role>member</role>
                        </roles>
                        <orchModels>
                            <model>openstack</model>
                            <model>vcenter</model>
                        </orchModels>
                    </access>
                    <iconClass>icon-globe</iconClass>
                    <items>
                        <item>
                            <label>Servers</label>
                            <hash>config_dns_dnsservers</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/dns/servers/ui</rootDir>
                                    <js>dnsservers_config.js</js>
                                    <view>dnsservers_config.view</view>
                                    <class>dnsServersConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure DNS Servers</searchStrings>
                        </item>
                        <item>
                            <label>Records</label>
                            <hash>config_dns_dnsrecords</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/dns/records/ui</rootDir>
                                    <js>dnsrecords_config.js</js>
                                    <view>dnsrecords_config.view</view>
                                    <class>dnsRecordsConfigObj</class>
                                </resource>
                            </resources>
                            <searchStrings>Configure DNS Records</searchStrings>
                        </item>
                    </items>
                </item>
              
                        <!--
                        <item>
                            <label>IPAM</label>
                        </item>
                        -->
        <!--
                <item>
                    <label>Templates</label>
                    <items>
                        <item>
                            <label>Networks</label>
                        </item>
                    </items>
                </item>
                <item>
                    <label>History</label>
                </item>
                <item>
                    <label>Quotas</label>
                </item>
                -->
      </items>
    </item>
    <item>
      <label>Setting</label>
      <name>setting</name>
      <iconClass>icon-cog</iconClass>
      <access>
        <roles>
          <role>superAdmin</role>
        </roles>
        <orchModels>
          <model>openstack</model>
          <model>cloudstack</model>
          <model>vcenter</model>
        </orchModels>
        <accessFn>hideInFederatedvCenter</accessFn>
      </access>
      <items>
        <item>
          <label>Config DB</label>
          <iconClass>icon-contrail-config-db</iconClass>
          <items>
            <item>
              <hash>setting_configdb_fqname</hash>
              <label>FQ Name Table</label>
              <resources>
                <resource>
                  <rootDir>/setting/config_db</rootDir>
                  <view>cdb_query.view</view>
                  <js>cdb_query.js</js>
                  <class>fqNameTableObj</class>
                </resource>
              </resources>
            </item>
            <item>
              <hash>setting_configdb_uuid</hash>
              <label>UUID Table</label>
              <resources>
                <resource>
                  <rootDir>/setting/config_db</rootDir>
                  <view>cdb_query.view</view>
                  <js>cdb_query.js</js>
                  <class>uuidTableObj</class>
                </resource>
              </resources>
            </item>
          </items>
        </item>
        <item>
          <label>Analytics DB</label>
          <iconClass>icon-contrail-analytics-db</iconClass>
          <items>
              <item>
                  <hash>setting_analyticsdb_usage</hash>
                  <label>Usage</label>
                  <resources>
                      <resource>
                          <rootDir>/setting/analytics_db</rootDir>
                          <view>usage.view</view>
                          <js>usage.js</js>
                          <class>dbUsageObj</class>
                      </resource>
                  </resources>
              </item>
          </items>
        </item>
      </items>
    </item>
    <item>
      <label>Query</label>
      <name>query</name>
      <iconClass>icon-search</iconClass>
      <access>
        <roles>
          <role>superAdmin</role>
        </roles>
        <orchModels>
          <model>openstack</model>
          <model>cloudstack</model>
          <model>vcenter</model>
        </orchModels>
      </access>
      <items>
        <item>
          <label>Flows</label>
          <iconClass>icon-exchange</iconClass>
          <items>
            <item>
              <hash>query_flow_series</hash>
              <label>Flow Series</label>
              <resources>
                <resource>
                  <rootDir>/reports</rootDir>
                  <view>flow_queries.view</view>
                  <view>queries.view</view>
                  <js>flow_queries.js</js>
                  <class>flowSeriesObj</class>
                </resource>
              </resources>
              <searchStrings>Query Flow Series</searchStrings>
            </item>
            <item>
              <hash>query_flow_records</hash>
              <label>Flow Records</label>
              <resources>
                <resource>
                  <rootDir>/reports</rootDir>
                  <view>flow_queries.view</view>
                  <view>queries.view</view>
                  <js>flow_queries.js</js>
                  <class>flowRecordsObj</class>
                </resource>
              </resources>
              <searchStrings>Query Flow Records</searchStrings>
            </item>
            <item>
              <hash>query_flow_queue</hash>
              <label>Query Queue</label>
              <resources>
                <resource>
                  <rootDir>/reports</rootDir>
                  <view>flow_queries.view</view>
                  <view>queries.view</view>
                  <js>flow_queries.js</js>
                  <class>flowQueryQueueObj</class>
                </resource>
              </resources>
              <searchStrings>Flow Query Queue</searchStrings>
            </item>
          </items>
        </item>
        <item>
          <label>Logs</label>
          <iconClass>icon-contrail-system-logs</iconClass>
          <items>
            <item>
              <hash>query_log_system</hash>
              <label>System Logs</label>
              <resources>
                <resource>
                  <rootDir>/reports</rootDir>
                  <view>log_queries.view</view>
                  <view>queries.view</view>
                  <js>log_queries.js</js>
                  <class>systemLogsObj</class>
                </resource>
              </resources>
              <searchStrings>Query System Logs</searchStrings>
            </item>
            <item>
              <hash>query_log_object</hash>
              <label>Object Logs</label>
              <resources>
                <resource>
                  <rootDir>/reports</rootDir>
                  <view>log_queries.view</view>
                  <view>queries.view</view>
                  <js>log_queries.js</js>
                  <class>objectLogsObj</class>
                </resource>
              </resources>
              <searchStrings>Query Object Logs</searchStrings>
            </item>
            <item>
              <hash>query_log_queue</hash>
              <label>Query Queue</label>
              <resources>
                <resource>
                  <rootDir>/reports</rootDir>
                  <view>log_queries.view</view>
                  <view>queries.view</view>
                  <js>log_queries.js</js>
                  <class>logQueryQueueObj</class>
                </resource>
              </resources>
              <searchStrings>Logs Query Queue</searchStrings>
            </item>
          </items>
        </item>
        <item>
            <label>Statistics</label>
            <iconClass>icon-contrail-system-stats</iconClass>
            <items>
                <item>
                    <hash>query_stat_query</hash>
                    <label>Query</label>
                    <resources>
                        <resource>
                            <rootDir>/reports</rootDir>
                            <view>stat_queries.view</view>
                            <view>queries.view</view>
                            <js>stat_queries.js</js>
                            <class>statQueryObj</class>
                        </resource>
                    </resources>
                    <searchStrings>Query Statistics</searchStrings>
                </item>
                <item>
                    <hash>query_stat_queue</hash>
                    <label>Query Queue</label>
                    <resources>
                        <resource>
                            <rootDir>/reports</rootDir>
                            <view>stat_queries.view</view>
                            <view>queries.view</view>
                            <js>stat_queries.js</js>
                            <class>statQueryQueueObj</class>
                        </resource>
                    </resources>
                    <searchStrings>Statistic Query Queue</searchStrings>
                </item>
            </items>
        </item>
      </items>
    </item>
  </items>
</menu>

